.SetTimer, .Timer {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

.SetTitle {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	font-size: 100px;
	width: 100%;
	text-align: center;
}

.Title {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	font-size: 100px;
	width: 100%;
	text-align: center;
}

.SetTimerDescription {
	font-size: 100px;
	width: 100%;
}

.TimerDescription {
	font-size: 100px;
}

.InputTime {
	font-family: helvetica,sans-serif;
	font-size: 200px;
	margin: 20px;
	text-align: center;
}

.InputMinutes, .InputSeconds {
	width: 240px;
	text-align: center;
}

.Countdown {
	font-family: helvetica,sans-serif;
	font-size: 200px;
	margin: 20px;
	text-align: center;
}

.TimerUnit {
	font-size: 50%;
}

.Alarm {
	animation: blinker 2s step-start infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

