.SetTimer, .Timer {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

.TimerText {
	font-size: 100px;
}

.InputTime {
	font-family: helvetica,sans-serif;
	font-size: 200px;
	margin: 20px;
	text-align: center;
}

.InputMinutes, .InputSeconds {
	width: 240px;
	text-align: center;
}

.Countdown {
	font-family: helvetica,sans-serif;
	font-size: 200px;
	margin: 20px;
	text-align: center;
}

.TimerUnit {
	font-size: 50%;
}
